<form class="mt-4" name="container-form" method="POST" action="/courses/restore-course">
    <div>
        <a href="/me/stored/courses">Danh sách khóa học</a>
        <h3>Khóa học đã xóa</h3>

        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checked-all">
                <label class="form-check-label" for="checked-all">
                    Chọn tất cả
                </label>
            </div>

            <select id="my-select" class="form-control form-control-sm checkbox-select-all-option" name="action" required>
                <option value="">-- Hành động --</option>                
                <option value="patch">Khôi phục</option>
                <option value="delete">Xóa vĩnh viễn</option>
            </select>

            <button class="btn btn-primary btn-sm check-all-submit-btn" disabled="disabled">Thực hiện</button>
        </div>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="4">Thời gian xóa</th>
            </tr>
        </thead>
        <tbody>

            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>

                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
                        data-target="#exampleModal">Xoá vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">Thùng rác trống! <a href="/me/stored/courses">Danh sách khóa học</a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</form>

{{!-- confirm delete course --}}
<div id="exampleModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa khóa học?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hành động này sẽ không thể khôi phục! Bạn vẫn muốn xóa?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button id="btn-delete-course-modal" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
            </div>
        </div>
    </div>
</div>

{{!-- confirm delete course 2 --}}
<div id="exampleModal2" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa khóa học?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hành động này sẽ không thể khôi phục! Bạn vẫn muốn xóa?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button id="btn-delete-course-modal-2" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
            </div>
        </div>
    </div>
</div>

{{!-- confirm restore course --}}
<div id="exampleModal-restore" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Khôi phục khóa học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hành động này sẽ khôi phục lại khóa học bạn đã xóa trước đó!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button id="btn-restore-course-modal" type="button" class="btn btn-primary">Khôi phục</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var restoreForm = document.forms['restore-course-form'];
        var containerForm = document.forms['container-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course-modal');
        var btnDeleteCoursesChecked = $('#btn-delete-course-modal-2');
        var btnRestoreCoursesChecked = $('#btn-restore-course-modal');
        var btnRestore = $('.btn-restore');
        var checkBoxAll = $('#checked-all');
        var checkBoxItem = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');

        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        });

        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
            deleteForm.submit();
        }

        // Restore btn clicked
        btnRestore.click(function (e) {
            e.preventDefault();
            var courseID = $(this).data('id');
            restoreForm.action = '/courses/' + courseID + '/restore?_method=PATCH';
            restoreForm.submit();
        })

        checkBoxAll.click(function () {
            var checkedAll = $(this).prop('checked');
            checkBoxItem.prop('checked', checkedAll);
            renderCheckAllSubmitBtn();
        })

        checkBoxItem.click(function () {
            var checkedItem = checkBoxItem.length === $('input[name="courseIds[]"]:checked').length;
            checkBoxAll.prop('checked', checkedItem);
            renderCheckAllSubmitBtn();
        })

        checkAllSubmitBtn.click(function (e) {
            if ($("#my-select").val() == "patch") {
                e.preventDefault();
                $(checkAllSubmitBtn).attr('data-toggle', 'modal');
                $(checkAllSubmitBtn).attr('data-target', '#exampleModal-restore');                
            } else if ($("#my-select").val() == "delete") {
                e.preventDefault();
                $(checkAllSubmitBtn).attr('data-toggle', 'modal');
                $(checkAllSubmitBtn).attr('data-target', '#exampleModal2');
            } else {
                $(checkAllSubmitBtn).removeAttr('data-toggle');
                $(checkAllSubmitBtn).removeAttr('data-target');
            }
        })

        btnRestoreCoursesChecked.click(function () {
            containerForm.submit();
        })

        btnDeleteCoursesChecked.click(function () {
            containerForm.submit();
        })

        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length;
            if(checkedCount > 0) {
                checkAllSubmitBtn.attr('disabled', false);
            } else {
                checkAllSubmitBtn.attr('disabled', true);
            }
        }

        console.log(btnRestoreCoursesChecked);

    });

</script>